#SHADOW {
  text-shadow: 4px 2px 5px hsl(0, 100%, 49%), -4px 2px 5px hsl(253, 100%, 49%), 2px -5px 5px hsl(134, 92%, 10%);
}

#box {

  background-color: rgb(227, 169, 169);
  height: 100px;
  width: 100px;
  box-shadow: 4px 4px 10px rgb(0, 0, 240);
}

.hellow {
  height: 100px;
  width: 100px;
  background-color: green;
  margin-left: 100px;
  position: relative;
}

.helloi {
  height: 100px;
  width: 100px;
  background-color: red;
  margin-top: -60px;
  margin-left: 30px;
}

#walid {
  display: flex;
}

.hard {

  height: 100px;
  width: 100px;
}

#one {

  background-color: aqua;
  margin-top: 30px;
  margin-left: 50px;
}

#two {

  background-color: brown;
  margin-top: 0px;
  /* here is a catch you can not do this with div i will find it */
  margin-left: 100px;
}
#box1{
height: 100px;
width: 100px;
background-color: black;
margin: auto;
}