#Float{
    text-align: center;   
}
body{
    background-color: aqua;
}
#containar1{
    background-color: aliceblue;
    border:  solid;
    margin: 5px;
}

#imagef{
    margin: 5px;
    text-align: justify;
    border: 0 solid;
    height: 50px;
    width: 50px;
    font-size: medium;
    float: left;
    display: flex;
}
#box1{
    height: 50px;
    border: 4px solid;
    overflow: auto;
}
.bax{
    height: 100px;
}
/*i do noting here today im sorry for myself