#Float{
    text-align: center;   
}
body{
    background-color: aqua;
}
#float{
    border: solid;
    border-radius:2px;
    width: 100%;
   
    float: left;
    display: flex;
}
#imagef{
    height: 100px;
    width: 100;
   
}